version: '3'
services:
  postgres:
    image: 'postgres'
    ports:
      - '5433:5433'
    environment:
      POSTGRES_USER: 'test'
      POSTGRES_PASSWORD: 'test'
      POSTGRES_DB: 'test'
    command: -p 5433
