.center {
  margin: auto;
  max-width: 500px;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.date-error {
  margin-top: 5%;
  margin-bottom: -5%;
}

.MuiAccordion-root {
  margin-top: 15px;
  border-radius: 5px !important;
  border-style: solid;
  border-width: 1.5px;
  border-color: #b7bec5;
  box-shadow: none !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  content: none !important;
}
.css-yw020d-MuiAccordionSummary-expandIconWrapper {
  color: #1976d2;
}
.Mui-expanded {
  border-style: solid;
  border-width: 1.5px;
  border-color: #1976d2;
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  border: none;
}
.css-yw020d-MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  border: none;
  color: #1976d2;
}
.end-date {
  margin-left: 10px;
}
