.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 5%;
  align-self: center;
}

.today-wrapper {
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  justify-content: center;
}
