.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.today-wrapper {
  margin: "auto";
  align-items: center;
  align-content: "center";
  align-self: "center";
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .center {
    margin-top: 15vh;
  }
}
