.userprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  padding-top: 20px;
}

.User {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 430px;
  height: 141px;
  background: #fdfdfd;
  opacity: 0.3;
  border: 1px solid #ffffff;
  box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.VolunteerName {
  width: 95px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;

  color: #666666;
}

.Volunteer {
  width: 72px;
  height: 23px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  color: #666666;
}

.Availabilities {
  width: 95%;
  height: 65px;
  display: flex;
  flex-direction: column;

  background: #ffffff;
  border-radius: 10px;
}

.help-button {
  box-sizing: border-box;
  width: 67px;
  height: 29px;
  color: #ffffff;
  background: #2e5cd3;
  border: 1px solid #3a71ff;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.form {
  display: flex;
  max-width: 430px;
  width: 90%;
}

.details {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
}

.checkin {
  width: 178.71px;
  height: 15.57px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;

  color: #666666;
}

.availability-row {
  display: flex;
  flex-direction: row;
}

.markAvailabilities {
  width: 196.04px;
  height: 12.19px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #666666;
}

.checkcircleAvailability {
  width: 72px;
  height: 72px;
  color: #85cf27;
  transform: scale(1.1);
  border-color: #ffffff;
}
.updateAvailability {
  display: flex;
  width: 131px;
  height: 50px;
  right: 0px;
  bottom: -30px;

  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border-color: white transparent transparent;
  color: #666666;
  font-family: "Poppins", sans-serif;
}

.account {
  width: 93px;
  height: 33px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  margin: 0px;
  /* identical to box height */
  color: #000000;
}

.username {
  width: 80px;
  height: 23px;
  left: 34px;
  top: 385px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;

  color: #666666;
}

.usernameInput {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  display: flex;
  height: 36px;
  border: 1px solid #d8d7d7;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 20px;
}

.email {
  width: 43px;
  height: 23px;
  left: 34px;
  top: 468px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  color: #666666;
}

.emailInput {
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  margin: auto;
  display: flex;
  border: 1px solid #d8d7d7;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.checkEmail {
  display: flex;
  flex-direction: row;
}

.accountline {
  width: 95%;
  height: 0px;
  background: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.1);
  transform: rotate(-0.17deg);
}

.divider {
  width: 95%;
  height: 0px;
  background: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.1);
  margin: 10px 0px;
}

.Contact {
  width: 90px;
  height: 33px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  margin: 0px;
  margin-top: 10px;
  /* identical to box height */

  color: #000000;
}

.contactline {
  width: 366px;
  height: 0px;
  border: 3px solid #ffffff;
  box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.1);
  transform: rotate(-0.17deg);
}

.phoneNumber {
  width: 114px;
  height: 23px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  color: #666666;
}

.number {
  box-sizing: border-box;
  display: flex;
  height: 36px;
  width: 100%;
  border: 1px solid #d8d7d7;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  color: #666666;
}
.checkPhoneNumber {
  display: flex;
  padding: 0;
  flex-direction: row;
}

.newNumber {
  box-sizing: border-box;

  width: 100%;
  margin: auto;
  display: flex;
  height: 36px;

  border: 1px solid #d8d7d7;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  color: #666666;
  margin-top: 10px;
}

.checkcircleUsername {
  width: 24px;
  height: 24px;
  color: #33be41;
  transform: scale(1.1);
}

.addbutton {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  background: #ffffff;
  color: #3060dc;
  border: 1px solid #ffffff;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  font-size: x-large;
  margin-top: 10px;
}

.cancelbutton {
  box-sizing: border-box;
  width: 153px;
  height: 51px;

  border: 1px solid #666666;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
}

.savechanges {
  width: 153px;
  height: 51px;

  background: #33be41;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  border-width: 0px;
  color: #ffffff;
}

.endbuttons {
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.availabilities {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
  margin-bottom: 50px;
}
