
.header {
    display: flex; 
    justify-content: flex-end;
}

.help-button {
    background: #2E5CD3;
    border: 1px solid #3A71FF;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
}